/* ::::::::::::::::::::::::::::::::
   Main Sections
::::::::::::::::::::::::::::::::::::*/
section {
  min-height: 100vh;
  transition: all 0.4s ease-in-out;
}

//::::::Hero Section::::::::::::::::::://

#avatar {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 100vh;
  max-width: 100%;
}
