/* ::::::::::::::::::::::::::::::::
   Main Sections
::::::::::::::::::::::::::::::::::::*/
section {
  min-height: 100vh;
  transition: $main-transition;
}
#hero {
  .row {
    min-height: 100vh;
  }
  .hero-text-group {
    margin: 5rem 0;
    z-index: 1000;
  }
}

//::::::Hero Section::::::::::::::::::://

#avatar {
  position: relative;
}

.avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 100vh;
  max-width: 100%;
  user-select: none;
}
.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  width: 100px;
  z-index: 1000;
}

.path {
  stroke-dasharray: 1700;
  stroke-dashoffset: 3200;
  animation: dash 6s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
