/* ::::::::::::::::::::::::::::::::
   Main Sections
::::::::::::::::::::::::::::::::::::*/
section {
  min-height: 100vh;
  transition: $main-transition;
}
#hero {
  .row {
    min-height: 100vh;
  }
  .hero-text-group {
    margin: 5rem 0;
    z-index: 1000;
  }
}

//expand find-me section {

.find-me {
  * {
    transition: margin 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
  }
}
.find-me.expand {
  * {
    margin-right: 1rem;
    pointer-events: visible;
  }
}

//::::::Hero Section::::::::::::::::::://

#avatar {
  position: relative;
}

.avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 100vh;
  max-width: 100%;
  user-select: none;
}
.logo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  width: 100px;
  z-index: 1000;
}

.path {
  stroke-dasharray: 1700;
  stroke-dashoffset: 3200;
  animation: dash 6s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/*:::::::::::::::::::::::::::::
       portfolio
::::::::::::::::::::::::::::::::::::*/

#portfolio {
  .container {
    padding-top: 80px;
  }
}

.portfolio-item {
  transition: all 0.4s ease-in-out;
  margin-bottom: 1rem;
}

.portfolio-image {
  transition: all 0.4s ease-in-out;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.menu {
  box-sizing: unset;
  display: none;
  opacity: 0;
  margin: 0.7rem;
}
.menu:hover {
  color: $main-hover-color;
}
.show {
  .menu {
    display: block;
    opacity: 1;
  }
}
.selected {
}
