$theme-pixie: (
  section: (
    color: #6b2d6b,
  ),
  hero: (
    bg: rgb(137, 56, 145),
    color: #9897a3,
  ),
  button: (
    bg: #0b0a27,
    color: #fff,
    border-color: #fff,
  ),
  avatar: (
    blend-mode: hard-light,
  ),
);

@include themable(theme-pixie, $theme-pixie);
