$dark-mode-background: $dark-mode-background;

$theme-light: (
  body: (
    bg: #fff,
    color: $dark-mode-background,
  ),
  hero: (
    bg: #fff,
    color: $dark-mode-background,
  ),
  portfolio: (
    bg: #fff,
    color: $dark-mode-background,
  ),
  about: (
    bg: #fff,
    color: $dark-mode-background,
  ),
  button: (
    bg: $dark-mode-background,
    color: #fff,
    border-color: #fff,
  ),
  avatar: (
    blend-mode: hard-light,
  ),
);

@include themable(theme-light, $theme-light);

.theme-light {
  .portfolio-image,
  .portfolio-show-item img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
  }
  .custom-nav-link:hover,
  .portfolio-image:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .custom-nav-link:focus {
    box-shadow: 0 14px 28px rgba(143, 125, 125, 0.25),
      0 10px 10px rgba(165, 146, 146, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .portfolio-image:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    opacity: 0.9;
  }
  .avatar-about {
    mix-blend-mode: unset;
  }
}
