$dark-mode-background: $dark-mode-background; ///change the background mode from here
$light-mode-background: $light-mode-background;
$theme-dark: (
  body: (
    bg: $dark-mode-background,
    color: $light-mode-background,
  ),
  hero: (
    bg: $dark-mode-background,
    color: $light-mode-background,
  ),
  portfolio: (
    bg: $dark-mode-background,
    color: $light-mode-background,
  ),
  about: (
    bg: $dark-mode-background,
    color: $light-mode-background,
  ),
  contact: (
    bg: $dark-mode-background,
    color: $light-mode-background,
  ),
  button: (
    bg: none,
    color: $light-mode-background,
    border-color: $light-mode-background,
  ),
  avatar: (
    blend-mode: soft-light,
  ),
);

@include themable(theme-dark, $theme-dark);

#switch-theme:checked {
  background-color: $dark-mode-background !important;
  border-color: $light-mode-background !important;
}
.theme-dark {
  .portfolio-image .portfolio-show-item img {
    box-shadow: 0 1px 3px rgba(218, 206, 206, 0.12),
      0 1px 2px rgba(221, 211, 211, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
  }
  .custom-nav-link:hover,
  .portfolio-image:hover {
    box-shadow: 0 1px 3px rgba(145, 129, 129, 0.12),
      0 1px 2px rgba(134, 119, 119, 0.24);
  }
  .custom-nav-link:focus {
    box-shadow: 0 14px 28px rgba(143, 125, 125, 0.25),
      0 10px 10px rgba(165, 146, 146, 0.22);
  }
  .portfolio-image:hover {
    box-shadow: 0 14px 28px rgba(219, 207, 207, 0.25),
      0 10px 10px rgba(247, 221, 221, 0.22);
    opacity: 0.9;
  }
  footer {
    background-color: lighten($color: $dark-mode-background, $amount: 3);
    color: $light-mode-background;
    // border-top: 0.3px solid $light-mode-background;
  }
}
